<a href="https://colab.research.google.com/github/timofeyegorov/test/blob/main/%D0%92%D0%B5%D1%80%D1%81%D0%B8%D1%8F_%D0%A2%D1%80%D0%B0%D1%84%D0%B8%D0%BA_24_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import os
from tensorflow.keras import utils
from sklearn.cluster import KMeans # Импортируем библиотуке KMeans для кластеризации
import time
import matplotlib.pyplot as plt

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Таблица интенсив
intensive = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vRTVUBn44-1Ymsbb8eT2jn-PlX5z5rQmIhMSPMIyo5jNyywKIOh0zasWnr3F0rI-pL7S99wZNwN3PhJ/pub?gid=800532813&single=true&output=csv'

# Таблица анкета
anketa = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vQ0OjIt3L0IeUQ_y9XU4J0U891AheXAoI3CnDbAfJz8VIwVrDLXiyjlGJm5Bf9JBxzcgRAVJTE-b5S3/pub?gid=647263146&single=true&output=csv'

# Путь для сохранения таблиц на гугл диске
save_path = '/content/drive/MyDrive/Colab Notebooks/Определение источника трафика/Отчеты csv/'

# **Функции**

In [ ]:
# Функция фильтрации датасета по дате
def filter_df(start_date = '0', end_date = '0'):
  if start_date == '0':
    start_date = min(result['sent'])
  if end_date == '0':
    end_date = max(result['sent'])
  filtered_result = result[(result['sent'] >= start_date) & (result['sent'] <= end_date)]
  return filtered_result

In [ ]:
# Функция формирования двух датасетов по выбранной категории и соотвествующему столбцу в которой эти категории находятся
def channels_table(df, category, column_name):
  '''
    Функция формирования двух датасетов по выбранной категории и соотвествующему столбцу в которой эти категории находятся.
    Вход:
        category - список подкатегорий по выбранной категории
        column_name - название колонки в датасете, которая содержит названия подкатегорий
    Выход:
        df_category - датасет с разбивкой заявок трафикологов по категориям в %
        df_category_val - датасет с разбивкой заявок трафикологов по категориям в штуках
  '''

  if category == countries: start, end = 0, 3
  if category == ages: start, end = 2, 6
  if category == jobs: start, end = 0, 4
  if category == earnings: start, end = 2, 5
  if category == trainings: start, end = 0, 2
  if category == times: start, end = 1, 3

  data_category = np.zeros((len(category)+1, len(created_columns))).astype('int')
  df_category = pd.DataFrame(data_category, columns=created_columns)
  df_category.insert(0, 'Все', 0)
  df_category.insert(0, column_name, 0)

  df_category_val = pd.DataFrame(data_category, columns=created_columns)
  df_category_val.insert(0, 'Все', 0)
  df_category_val.insert(0, column_name, 0)

  for idx, el in enumerate(category):
    df_category.loc[idx, column_name] = el
    df_category_val.loc[idx, column_name] = el
    for traff_value in df['trafficologist'].unique():

      try:
        df_category.loc[idx, traff_value] = round(((df[(df[column_name]==el) & (df['trafficologist']==traff_value)].shape[0])/(df[df['trafficologist']==traff_value].shape[0])*100))
        df_category_val.loc[idx, traff_value] = round(((df[(df[column_name]==el) & (df['trafficologist']==traff_value)].shape[0])))
      except ZeroDivisionError:
        df_category.loc[idx, traff_value] = 0
        df_countries_val.loc[idx, traff_value] = 0

      df_category.loc[idx, 'Все'] += round(((df[(df[column_name]==el) & (df['trafficologist']==traff_value)].shape[0]/(df.shape[0] - df['trafficologist'].isna().sum()))*100),2)
      df_category_val.loc[idx, 'Все'] += df[(df[column_name]==el) & (df['trafficologist']==traff_value)].shape[0]

    for traff_value in df['account'].unique():

      try:
        df_category.loc[idx, traff_value] = round(((df[(df[column_name]==el) & (df['account']==traff_value)].shape[0])/(df[df['account']==traff_value].shape[0])*100))
        df_category_val.loc[idx, traff_value] = round(((df[(df[column_name]==el) & (df['account']==traff_value)].shape[0])))
      except ZeroDivisionError:
        df_category.loc[idx, traff_value] = 0
        df_countries_val.loc[idx, traff_value] = 0

  df_category.loc[idx+1, column_name] = 'ЦА'
  df_category_val.loc[idx+1, column_name] = 'ЦА'
  for i in range(1, df_category.shape[1]):
    df_category.iloc[idx+1, i] = df_category.iloc[start:end, i].sum()
    df_category_val.iloc[idx+1, i] = df_category_val.iloc[start:end, i].sum()

  df_category.drop(columns=delete_columns,inplace=True)
  df_category_val.drop(columns=delete_columns,inplace=True)
  return df_category, df_category_val

In [ ]:
# Функция формирования двух датасетов по ЦА
def target_audience_channels_table(df):
  data_ta = np.zeros((9, len(created_columns))).astype('int')
  df_ta = pd.DataFrame(data_ta, columns=created_columns)
  df_ta_val = pd.DataFrame(data_ta, columns=created_columns)

  df_ta.insert(0, 'Все', 0)
  df_ta_val.insert(0, 'Все', 0)

  for traff_value in df['trafficologist'].unique():
    for i in range(df[df['trafficologist']==traff_value].shape[0]):
      target = 0
      if df[df['trafficologist']==traff_value].iloc[i, 0] in ['Россия', 'Европа', 'Северная Америка']:
        target += 1
      if df[df['trafficologist']==traff_value].iloc[i, 1] in ['23 - 30', '30 - 40', '40 - 50', '50 - 60']:
        target += 1
      if df[df['trafficologist']==traff_value].iloc[i, 2] in ['IT сфера (разработчик, тестировщик, администратор и т.п.)',
                                                              'Профессии связанные с числами (аналитик, бухгалтер, инженер и т.п.)',
                                                              'Гуманитарий (общение с людьми, искусство, медицина и т.д.)',
                                                              'Предприниматель, руководитель']:
        target += 1
      if df[df['trafficologist']==traff_value].iloc[i, 3] in ['до 60 000 руб.', 'до 100 000 руб.', 'более 100 000 руб.']:
        target += 1
      if df[df['trafficologist']==traff_value].iloc[i, 4] in ['Да, если я точно найду работу после обучения.', 'Да, если это поможет мне в реализации проекта.']:
        target += 1
      if df[df['trafficologist']==traff_value].iloc[i, 5] in ['до 10 часов в неделю', 'более 10 часов в неделю']:
        target += 1

      df_ta.loc[target, traff_value] += round(((1/df[df['trafficologist']==traff_value].shape[0])*100),2)
      df_ta.loc[target, 'Все'] += round(((1/(df.shape[0]))*100),2)

      df_ta_val.loc[target, traff_value] += 1
      df_ta_val.loc[target, 'Все'] += 1


      if (target == 5) or (target == 6):

        df_ta.loc[7:8, traff_value] += round(((1/df[df['trafficologist']==traff_value].shape[0])*100),2)
        df_ta.loc[7:8, 'Все'] += round(((1/(df.shape[0]))*100),2)

        df_ta_val.loc[7:8, traff_value] += 1
        df_ta_val.loc[7:8, 'Все'] += 1

      if (target == 4): 
        df_ta.loc[8, traff_value] += round(((1/df[df['trafficologist']==traff_value].shape[0])*100),2)
        df_ta.loc[8, 'Все'] += round(((1/(df.shape[0]))*100),2)

        df_ta_val.loc[8, traff_value] += 1
        df_ta_val.loc[8, 'Все'] += 1 

  for traff_value in df['account'].unique():
    for i in range(df[df['account']==traff_value].shape[0]):
      target = 0
      if df[df['account']==traff_value].iloc[i, 0] in ['Россия', 'Европа', 'Северная Америка']:
        target += 1
      if df[df['account']==traff_value].iloc[i, 1] in ['23 - 30', '30 - 40', '40 - 50', '50 - 60']:
        target += 1
      if df[df['account']==traff_value].iloc[i, 2] in ['IT сфера (разработчик, тестировщик, администратор и т.п.)',
                                                              'Профессии связанные с числами (аналитик, бухгалтер, инженер и т.п.)',
                                                              'Гуманитарий (общение с людьми, искусство, медицина и т.д.)',
                                                              'Предприниматель, руководитель']:
        target += 1
      if df[df['account']==traff_value].iloc[i, 3] in ['до 60 000 руб.', 'до 100 000 руб.', 'более 100 000 руб.']:
        target += 1
      if df[df['account']==traff_value].iloc[i, 4] in ['Да, если я точно найду работу после обучения.', 'Да, если это поможет мне в реализации проекта.']:
        target += 1
      if df[df['account']==traff_value].iloc[i, 5] in ['до 10 часов в неделю', 'более 10 часов в неделю']:
        target += 1

      df_ta.loc[target, traff_value] += round(((1/df[df['account']==traff_value].shape[0])*100),2)
      df_ta_val.loc[target, traff_value] += 1

      if (target == 5) or (target == 6):
        df_ta.loc[7:8, traff_value] += round(((1/df[df['account']==traff_value].shape[0])*100),2)
        df_ta_val.loc[7:8, traff_value] += 1

      if (target == 4): 
        df_ta.loc[8, traff_value] += round(((1/df[df['account']==traff_value].shape[0])*100),2)
        df_ta_val.loc[8, traff_value] += 1

  df_ta.drop(columns=delete_columns,inplace=True)
  df_ta_val.drop(columns=delete_columns,inplace=True)

  df_ta = df_ta.round(0).astype(int)
  return df_ta, df_ta_val

In [ ]:
def getParameterCityVect(arg):
  if arg == countries[0]:
    outClass = 0
  if arg == countries[1]:
    outClass = 1  
  if arg == countries[2]:
    outClass = 2
  if arg == countries[3]:
    outClass = 3  
  if arg == countries[4]:
    outClass = 4  
  return list(utils.to_categorical(outClass, len(countries)).astype('int'))


def getParameterAgeVect(arg):
  if arg == ages[0]:
    outClass = 0
  if arg == ages[1]:
    outClass = 1  
  if arg == ages[2]:
    outClass = 2
  if arg == ages[3]:
    outClass = 3  
  if arg == ages[4]:
    outClass = 4  
  if arg == ages[5]:
    outClass = 5    
  if arg == ages[6]:
    outClass = 6      
  return list(utils.to_categorical(outClass, len(ages)).astype('int'))


def getParameterJobVect(arg):
  if arg == jobs[0]:
    outClass = 0
  if arg == jobs[1]:
    outClass = 1  
  if arg == jobs[2]:
    outClass = 2
  if arg == jobs[3]:
    outClass = 3  
  if arg == jobs[4]:
    outClass = 4  
  if arg == jobs[5]:
    outClass = 5    
  if arg == jobs[6]:
    outClass = 6    
  if arg == jobs[7]:
    outClass = 7            
  return list(utils.to_categorical(outClass, len(jobs)).astype('int'))


def getParameterEarningsVect(arg):
  if arg == earnings[0]:
    outClass = 0
  if arg == earnings[1]:
    outClass = 1  
  if arg == earnings[2]:
    outClass = 2
  if arg == earnings[3]:
    outClass = 3  
  if arg == earnings[4]:
    outClass = 4  
  return list(utils.to_categorical(outClass, len(earnings)).astype('int'))


def getParameterTrainingVect(arg):
  if arg == trainings[0]:
    outClass = 0
  if arg == trainings[1]:
    outClass = 1  
  if arg == trainings[2]:
    outClass = 2
  return list(utils.to_categorical(outClass, len(trainings)).astype('int'))


def getParameterTimeVect(arg):
  if arg == times[0]:
    outClass = 0
  if arg == times[1]:
    outClass = 1  
  if arg == times[2]:
    outClass = 2
  return list(utils.to_categorical(outClass, len(times)).astype('int'))


def getAllParameters(val):
  city = getParameterCityVect(val[0])             
  age = getParameterAgeVect(val[1])             
  job = getParameterJobVect(val[2])         
  earning = getParameterEarningsVect(val[3])             
  training = getParameterTrainingVect(val[4]) 
  times = getParameterTimeVect(val[5])   

  out = []
  out += city
  out += age
  out += job
  out += earning
  out += training
  out += times

  return out


def get01Data(values):
  xTrain = []                   # Создаем пустой xTrain

  for val in values:            # Пробегаем по всем записям базы
      x = getAllParameters(val) # Получаем полный набор данных о текущей записи val
      xTrain.append(x)          # Добавляем полученные данные в xTrain

  xTrain = np.array(xTrain)     # Переводим в numpy
  return xTrain

In [ ]:
def addLabels(xTrain01):
  xTrain01 = xTrain01.tolist()

  for i in range(len(xTrain01)):
    category = 0
    if sum(xTrain01[i][:3]):
      category += 1
    if sum(xTrain01[i][7:11]):
      category += 1
    if sum(xTrain01[i][13:17]):
      category += 1
    if sum(xTrain01[i][23:26]):
      category += 1
    if sum(xTrain01[i][26:27]):
      category += 1
    if sum(xTrain01[i][30:32]):
      category += 1

    xTrain01[i].append(category)  
  xTrain01 = np.array(xTrain01)
  return xTrain01

In [ ]:
'''
  Функция печати информации о кластере
    Входные данные:
      - x - номер кластера
'''
def printCluster(x):
  print("Размер кластера:", xTrain01[xTrain01[:, 31]==x].shape[0]) # Выведем количество элементов в кластере
  
  mX = np.mean(xTrain01[xTrain01[:, 31]==x], axis=0)  # Считаем среднее значение по кластеру
  sX = np.sum(xTrain01[xTrain01[:, 31]==x], axis=0)  # Считаем сумму значение по кластеру

  # Отображаем полученную информацию по указанному кластеру
  print("Город")
  print("Россия: ", round(100*mX[0]), "%, ", sX[0], " шт", sep="") 
  print("Европа: ", round(100*mX[1]), "%, ", sX[1], " шт", sep="")
  print("Северная Америка: ", round(100*mX[2]), "%, ", sX[2], " шт", sep="") 
  print("СНГ: ", round(100*mX[3]), "%, ", sX[3], " шт", sep="")
  print("Другое: ", round(100*mX[4]), "%, ", sX[4], " шт", sep="") 

  print("\nВозраст")
  print("до 18 лет: ", round(100*mX[5]), "%, ", sX[5], " шт", sep="") 
  print("18 - 23: ", round(100*mX[6]), "%, ", sX[6], " шт", sep="")     
  print("23 - 30: ", round(100*mX[7]), "%, ", sX[7], " шт", sep="") 
  print("30 - 40: ", round(100*mX[8]), "%, ", sX[8], " шт", sep="")
  print("40 - 50: ", round(100*mX[9]), "%, ", sX[9], " шт", sep="") 
  print("50 - 60: ", round(100*mX[10]), "%, ", sX[10], " шт", sep="")
  print("60+: ", round(100*mX[11]), "%, ", sX[11], " шт", sep="")
  
  print("\nСфера работы")
  print("IT сфера (разработчик, тестировщик, администратор и т.п.): ", round(100*mX[12]), "%, ", sX[12], " шт", sep="")
  print("Профессии связанные с числами (аналитик, бухгалтер, инженер и т.п.): ", round(100*mX[13]), "%, ", sX[12], " шт", sep="")
  print("Гуманитарий (общение с людьми, искусство, медицина и т.д.): ", round(100*mX[14]), "%, ", sX[14], " шт", sep="")
  print("Предприниматель, руководитель: ", round(100*mX[15]), "%, ", sX[15], " шт", sep="")
  print("Преподаватель, учитель: ", round(100*mX[16]), "%, ", sX[16], " шт", sep="")
  print("Школьник, студент: ", round(100*mX[17]), "%, ", sX[17], " шт", sep="")
  print("Пенсионер: ", round(100*mX[18]), "%, ", sX[18], " шт", sep="")
  print("Декрет: ", round(100*mX[19]), "%, ", sX[19], " шт", sep="")

  print("\nДоход")
  print("0 руб.: ", round(100*mX[20]), "%, ", sX[20], " шт", sep="") 
  print("до 30 000 руб.: ", round(100*mX[21]), "%, ", sX[21], " шт", sep="")    
  print("до 60 000 руб.: ", round(100*mX[22]), "%, ", sX[12], " шт", sep="") 
  print("до 100 000 руб.: ", round(100*mX[23]), "%, ", sX[23], " шт", sep="") 
  print("более 100 000 руб.: ", round(100*mX[24]), "%, ", sX[24], " шт", sep="") 


  print("\nОбучение")
  print("Да, если я точно найду работу после обучения.: ", round(100*mX[25]), "%, ", sX[25], " шт", sep="")        
  print("Да, если это поможет мне в реализации проекта.: ", round(100*mX[26]), "%, ", sX[26], " шт", sep="")  
  print("Нет. Хочу получить только бесплатные материалы.: ", round(100*mX[27]), "%, ", sX[27], " шт", sep="")  

  print("\nВремя на обучение")
  print("до 5 часов в неделю: ", round(100*mX[28]), "%, ", sX[28], " шт", sep="")   
  print("до 10 часов в неделю: ", round(100*mX[29]), "%, ", sX[29], " шт", sep="") 
  print("более 10 часов в неделю: ", round(100*mX[30]), "%, ", sX[30], " шт", sep="")

# **Шаг 1 - Получаем имя трафиколога по каждой ссылке + объединяем таблицы**

In [ ]:
os.makedirs('Отчеты csv', exist_ok=True)                      # Создание папки для данных, если её не существует
i_df = pd.read_csv(intensive)                                 # Получаем датафрейм таблицы Интенсив
a_df = pd.read_csv(anketa)                                    # Получаем датафрейм таблицы Анкета

i_df = i_df.iloc[:,:12]                                       # Оставляем только нужные для анализа столбцы
a_df = a_df.iloc[:,:11]                                       # Оставляем только нужные для анализа столбцы
a_df.drop(['roistat_url', 'requestid'], axis=1, inplace=True) # Оставляем только нужные для анализа столбцы

i_df.insert(4, 'trafficologist', 'Неизвестно')                # Добавляем столбец trafficologist для записи имени трафиколога
i_df.insert(5, 'account', 'Неизвестно 1')                       # Добавляем столбец account для записи аккаунта трафиколога

In [ ]:
# Приводим названия емейлов к нижнему регистру
# Для того, чтобы попробовать не потерять часть строк
for i in range(i_df['Email'].shape[0]):
  i_df.loc[i, 'Email'] = i_df.loc[i, 'Email'].lower()
for i in range(a_df['email'].shape[0]):
  a_df.loc[i, 'email'] = a_df.loc[i, 'email'].lower()

In [ ]:
# Создаем словарь, где ключи - метки аккаунтов, значения - владельцы аккаунтов
trafficologist = {'facebook6': 'Юля', 'facebook3': 'Юля', 'facebook7': 'Юля', 'facebook8': 'Юля', 'facebook10': 'Юля', 'facebook14': 'Юля',
                  'facebook15': 'Ксения', 'facebook16': 'Ксения', 'facebook32': 'Ксения',
                  'facebook19': 'Евгений', 'facebook18': 'Евгений', 'facebook38': 'Евгений',
                  'facebook24': 'Михаил', 'facebook25': 'Михаил',
                  'facebook23': 'Яна', 'facebook26': 'Яна',
                  'facebook30': 'Павел',
                  'facebook22': 'Демура',
                  'facebook34': 'Руслан',
                  'facebook37': 'Валерий',
                  'facebook39': 'Артем', 'facebook40': 'Артем',
                  'facebook17': 'Алина', 'facebook29': 'Алина', 'facebook35': 'Алина', 'facebook36': 'Алина', 'facebook33': 'Алина',
                  'direct1': 'Юля Директ',
                  'direct11': 'ArrowMedia Директ',
                  'direct27': 'Мураб Директ'
                  }

In [ ]:
# Создаем словарь, где ключи - метки аккаунтов, значения - названия аккаунтов
account = {'facebook6': 'Юля 1', 'facebook3': 'Юля 2', 'facebook7': 'Юля 3', 'facebook8': 'Юля 4', 'facebook10': 'Юля 5', 'facebook14': 'Юля 7',
           'facebook15': 'Ксения 1', 'facebook16': 'Ксения 2', 'facebook32': 'Ксения 3',
           'facebook19': 'Евгений 1', 'facebook18': 'Евгений 2', 'facebook38': 'Евгений 3',
           'facebook24': 'Михаил 1', 'facebook25': 'Михаил 2',
           'facebook23': 'Яна 1', 'facebook26': 'Яна 2',
           'facebook30': 'Павел 1',
           'facebook22': 'Демура 1',
           'facebook34': 'Руслан 1',
           'facebook37': 'Валерий 1',
           'facebook39': 'Артем 1', 'facebook40': 'Артем 2',
           'facebook17': 'Алина 1', 'facebook29': 'Алина 2', 'facebook35': 'Алина 3', 'facebook36': 'Алина 4', 'facebook33': 'Алина 5',
           'direct1': 'Юля Директ',
           'direct11': 'ArrowMedia Директ',
           'direct27': 'Мураб Директ'
           }

In [ ]:
# Проходим по каждой строке и в стобцы trafficologist и account записываем
# Имена трафикологов и их аккаунты соответственно
links_list = [] # Сохраняем в список ссылки, не содержащие метки аккаунтов
for i in range(i_df.shape[0]):
  try:
    i_df.trafficologist[i] = trafficologist[i_df.roistat_url[i][i_df.roistat_url[i].find('rs=facebook')+3:i_df.roistat_url[i].find(('_'), i_df.roistat_url[i].find('rs=facebook'))]]
    i_df.account[i] = account[i_df.roistat_url[i][i_df.roistat_url[i].find('rs=facebook')+3:i_df.roistat_url[i].find(('_'), i_df.roistat_url[i].find('rs=facebook'))]]

  except KeyError:
    links_list.append(i_df.roistat_url[i])
    pass
  except AttributeError:
    links_list.append(i_df.roistat_url[i])
    pass  
  except TypeError:
    links_list.append(i_df.roistat_url[i])
    pass

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [ ]:
i_df.head()

      Name                        Email  ... utm_campaign  utm_content
0  Алексей  aleksei.shatskikh@gmail.com  ...          NaN          NaN
1    Арина         arina.krkr@yandex.ru  ...     Камп 3_1            1
2      Мия              miau.uu@mail.ru  ...          NaN          NaN
3     Юлия            ablaze2@gmail.com  ...          NaN          NaN
4    Артем                 asgpro@ya.ru  ...        f1_t1          NaN

[5 rows x 14 columns]

In [ ]:
a_df.head()

  country Сколько_вам_лет  ...                 email        sent
0  Другое         40 - 50  ...        vdv-2012@bk.ru  2021-04-13
1  Россия         23 - 30  ...    soujoooo@gmail.com  2021-04-13
2  Россия         40 - 50  ...  rassohinmv@gmail.com  2021-04-13
3  Россия         30 - 40  ...     rrrnatali@mail.ru  2021-04-13
4  Другое         40 - 50  ...        vdv-2012@bk.ru  2021-04-13

[5 rows x 9 columns]

In [ ]:
result = a_df.merge(i_df[['Email', 'trafficologist', 'account', 'roistat_url', 'utm_source', 'utm_medium', 'utm_campaign', 'utm_content']], left_on='email', right_on='Email', how='left')
result.fillna(0, inplace=True) # Все пустые строки после объединения заполняем нулями
result.sent = pd.to_datetime(result.sent) # Переводим столбец sent в формат даты

In [ ]:
result.head()

  country Сколько_вам_лет  ... utm_campaign utm_content
0  Другое         40 - 50  ...        2f_1t           0
1  Россия         23 - 30  ...     Камп 3_1           1
2  Россия         40 - 50  ...     intensiv          w1
3  Россия         30 - 40  ...            0           0
4  Другое         40 - 50  ...        2f_1t           0

[5 rows x 17 columns]

In [ ]:
result.shape

(1241, 17)

In [ ]:
result.to_csv('Отчеты csv/trafficologist.csv', index=False)
result.to_csv(save_path + 'trafficologist.csv', index=False)
result.head(30)

   country Сколько_вам_лет  ...    utm_campaign          utm_content
0   Другое         40 - 50  ...           2f_1t                    0
1   Россия         23 - 30  ...        Камп 3_1                    1
2   Россия         40 - 50  ...        intensiv                   w1
3   Россия         30 - 40  ...               0                    0
4   Другое         40 - 50  ...           2f_1t                    0
5      СНГ         50 - 60  ...               0                    0
6      СНГ         50 - 60  ...           7f_3t                    0
7   Россия         40 - 50  ...  conv_interests               python
8   Россия         18 - 23  ...      conversion                    0
9   Россия         18 - 23  ...               0                    0
10  Россия         30 - 40  ...               0                    0
11  Россия         30 - 40  ...  conv_interests  lal_1_lead_dk_23_02
12     СНГ         18 - 23  ...               0                    0
13  Россия         23 - 30  ...           2f_1t                    0
14  Россия         40 - 50  ...               0                    0
15  Россия         30 - 40  ...               0                    0
16  Россия         40 - 50  ...               0                    0
17  Россия         50 - 60  ...               0                    0
18  Россия         30 - 40  ...        intensiv                   w1
19  Европа         30 - 40  ...               0                    0
20  Россия         30 - 40  ...           2f_1t                    0
21  Россия         50 - 60  ...               0                    0
22  Россия         23 - 30  ...               0                    0
23  Россия         23 - 30  ...               0                    0
24  Россия         23 - 30  ...               3    LAL 3% ОП - 13/04
25  Россия         40 - 50  ...           1f_1t                    0
26  Россия         40 - 50  ...           1f_1t                    0
27  Другое         30 - 40  ...               0                    0
28     СНГ         30 - 40  ...           2f_1t                    0
29  Другое         30 - 40  ...               0                    0

[30 rows x 17 columns]

**часть строк при объединении остается без ссылок, проблемы с разным написанием емейлов**

In [ ]:
# Создаем отдельную таблицу с такими строками
# А в исходной таблице эти строки удаляем
unrecognized_rows = result.copy()
unrecognized_rows = unrecognized_rows[unrecognized_rows['trafficologist'] == 0]
unrecognized_rows.to_csv('Отчеты csv/unrecognized_rows.csv', index=False)
unrecognized_rows.to_csv(save_path + 'unrecognized_rows.csv', index=False)
result = result.loc[result.trafficologist != 0]
result.index = [i for i in range(result.shape[0])]

In [ ]:
result.shape

(1140, 17)

In [ ]:
# Сохраняем отдельно емейлы из тех строк, в которых нет ссылки
skip_emails = pd.DataFrame(list(unrecognized_rows.email))
skip_emails.to_csv('Отчеты csv/skip_emails.csv', index=False)
skip_emails.to_csv(save_path + 'skip_emails.csv', index=False)

In [ ]:
# Сохраняем ссылки в которых нет идентификатора аккаунта
skip_links = pd.DataFrame(links_list)
skip_links.to_csv('Отчеты csv/skip_links.csv', index=False)
skip_links.to_csv(save_path + 'skip_links.csv', index=False)

In [ ]:
result.head(2)

  country Сколько_вам_лет  ... utm_campaign utm_content
0  Другое         40 - 50  ...        2f_1t           0
1  Россия         23 - 30  ...     Камп 3_1           1

[2 rows x 17 columns]

In [ ]:
result.country

0       Другое
1       Россия
2       Россия
3       Россия
4       Другое
         ...
1135    Россия
1136    Россия
1137    Россия
1138    Россия
1139    Россия
Name: country, Length: 1140, dtype: object

In [ ]:
result_new = result.copy()

In [ ]:
result_new.insert(6, 'target_class', 0)

In [ ]:
result_new.head()

  country Сколько_вам_лет  ... utm_campaign utm_content
0  Другое         40 - 50  ...        2f_1t           0
1  Россия         23 - 30  ...     Камп 3_1           1
2  Россия         40 - 50  ...     intensiv          w1
3  Россия         30 - 40  ...            0           0
4  Другое         40 - 50  ...        2f_1t           0

[5 rows x 18 columns]

In [ ]:
for i in range(result_new.shape[0]):
  target_class = 0
  if result_new.loc[i, 'country'] in countries[:3]:
    target_class += 1
  if result_new.loc[i, 'Сколько_вам_лет'] in ages[2:6]:
    target_class += 1
  if result_new.loc[i, 'В_какой_сфере_сейчас_работаете'] in jobs[0:5]:
    target_class += 1
  if result_new.loc[i, 'Ваш_средний_доход_в_месяц'] in earnings[2:]:
    target_class += 1         
  if result_new.loc[i, 'Рассматриваете_ли_в_перспективе_платное_обучение_профессии_Разработчик_Искусственного_Интеллекта'] in trainings[:2]:
    target_class += 1
  if result_new.loc[i, 'Сколько_времени_готовы_выделить_на_обучение_в_неделю'] in times[1:]:
    target_class += 1

  result_new.loc[i, 'target_class'] = target_class

In [ ]:
result_new[result_new.target_class == 0].shape

(3, 18)

In [ ]:
# Список категорий по приоритетности
countries = ['Россия', 'Европа', 'Северная Америка', 'СНГ', 'Другое']
ages = ['до 18 лет', '18 - 23', '23 - 30', '30 - 40', '40 - 50', '50 - 60', '60 +']
jobs = ['IT сфера (разработчик, тестировщик, администратор и т.п.)', 'Профессии связанные с числами (аналитик, бухгалтер, инженер и т.п.)', 'Гуманитарий (общение с людьми, искусство, медицина и т.д.)',
       'Предприниматель, руководитель',
       'Преподаватель, учитель', 'Школьник, студент', 'Пенсионер', 'Декрет', ]
earnings = ['0 руб.', 'до 30 000 руб.', 'до 60 000 руб.', 'до 100 000 руб.', 'более 100 000 руб.']
trainings = ['Да, если я точно найду работу после обучения.', 'Да, если это поможет мне в реализации проекта.', 'Нет. Хочу получить только бесплатные материалы.']
times = ['до 5 часов в неделю', 'до 10 часов в неделю', 'более 10 часов в неделю']

# **Шаг 2 - Сегментация**

**В переменные start_date и end_time записываем дату в формате '2021-04-14'**

start_date - дата начала фильтрации

end_date - дата конца фильтрации

Если нужно фильтровать с самого начала, start_date = '0'

Если нужно фильтровать с до самого конца, end_date = '0'

**То есть, если фильтрация не нужна, записываем start_date = '0', end_date = '0'**

In [ ]:
# Задаем даты
start_date = '0'
end_date = '0'

In [ ]:
# Фильтруем датасет
filtered_result = filter_df(start_date, end_date)

## Предварительные расчеты

In [ ]:
filtered_result.shape

(1140, 17)

In [ ]:
result.shape

(1140, 17)

In [ ]:
# Список категорий по приоритетности
countries = ['Россия', 'Европа', 'Северная Америка', 'СНГ', 'Другое']
ages = ['до 18 лет', '18 - 23', '23 - 30', '30 - 40', '40 - 50', '50 - 60', '60 +']
jobs = ['IT сфера (разработчик, тестировщик, администратор и т.п.)', 'Профессии связанные с числами (аналитик, бухгалтер, инженер и т.п.)', 'Гуманитарий (общение с людьми, искусство, медицина и т.д.)',
       'Предприниматель, руководитель',
       'Преподаватель, учитель', 'Школьник, студент', 'Пенсионер', 'Декрет', ]
earnings = ['0 руб.', 'до 30 000 руб.', 'до 60 000 руб.', 'до 100 000 руб.', 'более 100 000 руб.']
trainings = ['Да, если я точно найду работу после обучения.', 'Да, если это поможет мне в реализации проекта.', 'Нет. Хочу получить только бесплатные материалы.']
times = ['до 5 часов в неделю', 'до 10 часов в неделю', 'более 10 часов в неделю']

In [ ]:
# Список названий колонок
list(result.columns.values[:6])

['country',
 'Сколько_вам_лет',
 'В_какой_сфере_сейчас_работаете',
 'Ваш_средний_доход_в_месяц',
 'Рассматриваете_ли_в_перспективе_платное_обучение_профессии_Разработчик_Искусственного_Интеллекта',
 'Сколько_времени_готовы_выделить_на_обучение_в_неделю']

In [ ]:
# Объединяем массиввы уникальных значений в колонках trafficologist и account
# Оставляем только уникальные значения, переводи массив в список и сортируем
created_columns = np.unique(np.concatenate((filtered_result['trafficologist'].unique(), filtered_result['account'].unique()))).tolist()
created_columns.sort()
created_columns

['Алина',
 'Алина 1',
 'Алина 2',
 'Алина 3',
 'Алина 4',
 'Алина 5',
 'Артем',
 'Артем 1',
 'Артем 2',
 'Валерий',
 'Валерий 1',
 'Демура',
 'Демура 1',
 'Евгений',
 'Евгений 1',
 'Евгений 3',
 'Ксения',
 'Ксения 1',
 'Ксения 2',
 'Ксения 3',
 'Михаил',
 'Михаил 1',
 'Михаил 2',
 'Неизвестно',
 'Неизвестно 1',
 'Павел',
 'Павел 1',
 'Юля',
 'Юля 1',
 'Юля 2',
 'Юля 4',
 'Юля 5',
 'Яна',
 'Яна 1',
 'Яна 2']

In [ ]:
delete_columns = ['Валерий 1', 'Демура 1', 'Неизвестно 1', 'Павел 1']

## **Страны**

In [ ]:
df_countries, df_val_countries = channels_table(df = filtered_result, category = countries, column_name = 'country')

In [ ]:
df_countries.to_csv('Отчеты csv/df_countries.csv', index=False)
df_countries.to_csv(save_path + 'df_countries.csv', index=False)
df_countries

            country    Все  Алина  Алина 1  ...  Юля 5  Яна  Яна 1  Яна 2
0            Россия  72.80     98      100  ...    100   64     51    100
1            Европа  13.34      0        0  ...      0   22     31      0
2  Северная Америка   1.93      0        0  ...      0    5      6      0
3               СНГ   6.50      2        0  ...      0    2      3      0
4            Другое   5.43      0        0  ...      0    7      9      0
5                ЦА  88.07     98      100  ...    100   91     88    100

[6 rows x 33 columns]

In [ ]:
df_val_countries.to_csv('Отчеты csv/df_val_countries.csv', index=False)
df_val_countries.to_csv(save_path + 'df_val_countries.csv', index=False)
df_val_countries

            country   Все  Алина  Алина 1  ...  Юля 5  Яна  Яна 1  Яна 2
0            Россия   830    187       56  ...     23   69     40     29
1            Европа   152      0        0  ...      0   24     24      0
2  Северная Америка    22      0        0  ...      0    5      5      0
3               СНГ    74      4        0  ...      0    2      2      0
4            Другое    62      0        0  ...      0    7      7      0
5                ЦА  1004    187       56  ...     23   98     69     29

[6 rows x 33 columns]

##**Возраст**

In [ ]:
df_ages, df_ages_val = channels_table(df = filtered_result, category = ages, column_name = 'Сколько_вам_лет')

In [ ]:
df_ages.to_csv('Отчеты csv/df_ages.csv', index=False)
df_ages.to_csv(save_path + 'df_ages.csv', index=False)
df_ages

  Сколько_вам_лет    Все  Алина  Алина 1  ...  Юля 5  Яна  Яна 1  Яна 2
0       до 18 лет   4.31      3        4  ...      9    5      6      0
1         18 - 23   9.04      8       12  ...      0    2      3      0
2         23 - 30  17.02     27       27  ...     22   17     14     24
3         30 - 40  35.69     43       46  ...     48   41     44     34
4         40 - 50  27.02     16       11  ...     22   30     27     38
5         50 - 60   6.06      3        0  ...      0    6      6      3
6            60 +   0.89      0        0  ...      0    0      0      0
7              ЦА  85.79     89       84  ...     92   94     91     99

[8 rows x 33 columns]

In [ ]:
df_ages_val.to_csv('Отчеты csv/df_ages_val.csv', index=False)
df_ages_val.to_csv(save_path + 'df_ages_val.csv', index=False)
df_ages_val

  Сколько_вам_лет  Все  Алина  Алина 1  ...  Юля 5  Яна  Яна 1  Яна 2
0       до 18 лет   49      5        2  ...      2    5      5      0
1         18 - 23  103     16        7  ...      0    2      2      0
2         23 - 30  194     52       15  ...      5   18     11      7
3         30 - 40  407     82       26  ...     11   44     34     10
4         40 - 50  308     31        6  ...      5   32     21     11
5         50 - 60   69      5        0  ...      0    6      5      1
6            60 +   10      0        0  ...      0    0      0      0
7              ЦА  978    170       47  ...     21  100     71     29

[8 rows x 33 columns]

##**Профессия**

In [ ]:
df_jobs, df_jobs_val = channels_table(df = filtered_result, category = jobs, column_name = 'В_какой_сфере_сейчас_работаете')

In [ ]:
df_jobs.to_csv('Отчеты csv/df_jobs.csv', index=False)
df_jobs.to_csv(save_path + 'df_jobs.csv', index=False)
df_jobs

                      В_какой_сфере_сейчас_работаете    Все  ...  Яна 1  Яна 2
0  IT сфера (разработчик, тестировщик, администра...  26.23  ...     12      3
1  Профессии связанные с числами (аналитик, бухга...  18.23  ...     14     31
2  Гуманитарий (общение с людьми, искусство, меди...  17.02  ...     35     34
3                      Предприниматель, руководитель  13.95  ...      6     10
4                             Преподаватель, учитель   5.36  ...      4      7
5                                  Школьник, студент  12.64  ...     13      0
6                                          Пенсионер   3.07  ...      3     10
7                                             Декрет   3.50  ...     14      3
8                                                 ЦА  75.43  ...     67     78

[9 rows x 33 columns]

In [ ]:
df_jobs_val.to_csv('Отчеты csv/df_jobs_val.csv', index=False)
df_jobs_val.to_csv(save_path + 'df_jobs_val.csv', index=False)
df_jobs_val

                      В_какой_сфере_сейчас_работаете  Все  ...  Яна 1  Яна 2
0  IT сфера (разработчик, тестировщик, администра...  299  ...      9      1
1  Профессии связанные с числами (аналитик, бухга...  208  ...     11      9
2  Гуманитарий (общение с людьми, искусство, меди...  194  ...     27     10
3                      Предприниматель, руководитель  159  ...      5      3
4                             Преподаватель, учитель   61  ...      3      2
5                                  Школьник, студент  144  ...     10      0
6                                          Пенсионер   35  ...      2      3
7                                             Декрет   40  ...     11      1
8                                                 ЦА  860  ...     52     23

[9 rows x 33 columns]

##**Доход**

In [ ]:
df_earnings, df_earnings_val = channels_table(df = filtered_result, category = earnings, column_name = 'Ваш_средний_доход_в_месяц')

In [ ]:
df_earnings.to_csv('Отчеты csv/df_earnings.csv', index=False)
df_earnings.to_csv(save_path + 'df_earnings.csv', index=False)
df_earnings

  Ваш_средний_доход_в_месяц    Все  Алина  Алина 1  ...  Юля 5  Яна  Яна 1  Яна 2
0                    0 руб.  16.51     15       18  ...      9   18     18     17
1            до 30 000 руб.  22.82     21       18  ...     13   34     26     55
2            до 60 000 руб.  25.45     25       16  ...     26   26     29     17
3           до 100 000 руб.  14.91     18       18  ...     17   11     13      7
4        более 100 000 руб.  20.36     21       30  ...     35   11     14      3
5                        ЦА  60.72     64       64  ...     78   48     56     27

[6 rows x 33 columns]

In [ ]:
df_earnings_val.to_csv('Отчеты csv/df_earnings_val.csv', index=False)
df_earnings_val.to_csv(save_path + 'df_earnings_val.csv', index=False)
df_earnings_val

  Ваш_средний_доход_в_месяц  Все  Алина  Алина 1  ...  Юля 5  Яна  Яна 1  Яна 2
0                    0 руб.  188     28       10  ...      2   19     14      5
1            до 30 000 руб.  260     41       10  ...      3   36     20     16
2            до 60 000 руб.  290     47        9  ...      6   28     23      5
3           до 100 000 руб.  170     35       10  ...      4   12     10      2
4        более 100 000 руб.  232     40       17  ...      8   12     11      1
5                        ЦА  692    122       36  ...     18   52     44      8

[6 rows x 33 columns]

##**Обучение**

In [ ]:
df_trainings, df_trainings_val = channels_table(df = filtered_result, category = trainings, column_name = 'Рассматриваете_ли_в_перспективе_платное_обучение_профессии_Разработчик_Искусственного_Интеллекта')

In [ ]:
df_trainings.to_csv('Отчеты csv/df_trainings.csv', index=False)
df_trainings.to_csv(save_path + 'df_trainings.csv', index=False)
df_trainings

  Рассматриваете_ли_в_перспективе_платное_обучение_профессии_Разработчик_Искусственного_Интеллекта  ...  Яна 2
0      Да, если я точно найду работу после обучения.                                                ...     21
1     Да, если это поможет мне в реализации проекта.                                                ...     24
2    Нет. Хочу получить только бесплатные материалы.                                                ...     55
3                                                 ЦА                                                ...     45

[4 rows x 33 columns]

In [ ]:
df_trainings_val.to_csv('Отчеты csv/df_trainings_val.csv', index=False)
df_trainings_val.to_csv(save_path + 'df_trainings_val.csv', index=False)
df_trainings_val

  Рассматриваете_ли_в_перспективе_платное_обучение_профессии_Разработчик_Искусственного_Интеллекта  ...  Яна 2
0      Да, если я точно найду работу после обучения.                                                ...      6
1     Да, если это поможет мне в реализации проекта.                                                ...      7
2    Нет. Хочу получить только бесплатные материалы.                                                ...     16
3                                                 ЦА                                                ...     13

[4 rows x 33 columns]

##**Время**

In [ ]:
df_times, df_times_val = channels_table(df = filtered_result, category = times, column_name = 'Сколько_времени_готовы_выделить_на_обучение_в_неделю')

In [ ]:
df_times.to_csv('Отчеты csv/df_times.csv', index=False)
df_times.to_csv(save_path + 'df_times.csv', index=False)
df_times

  Сколько_времени_готовы_выделить_на_обучение_в_неделю    Все  ...  Яна 1  Яна 2
0                                до 5 часов в неделю    47.28  ...     50     66
1                               до 10 часов в неделю    32.90  ...     31     28
2                            более 10 часов в неделю    19.82  ...     19      7
3                                                 ЦА    52.72  ...     50     35

[4 rows x 33 columns]

In [ ]:
df_times_val.to_csv('Отчеты csv/df_times_val.csv', index=False)
df_times_val.to_csv(save_path + 'df_times_val.csv', index=False)
df_times_val

  Сколько_времени_готовы_выделить_на_обучение_в_неделю  Все  ...  Яна 1  Яна 2
0                                до 5 часов в неделю    539  ...     39     19
1                               до 10 часов в неделю    375  ...     24      8
2                            более 10 часов в неделю    226  ...     15      2
3                                                 ЦА    601  ...     39     10

[4 rows x 33 columns]

## **ЦА**

In [ ]:
df_target_audience, df_target_audience_val = target_audience_channels_table(filtered_result)

In [ ]:
df_target_audience.to_csv('Отчеты csv/df_target_audience.csv', index=False)
df_target_audience.to_csv(save_path + 'df_target_audience.csv', index=False)
df_target_audience

   Все  Алина  Алина 1  Алина 2  Алина 3  ...  Юля 4  Юля 5  Яна  Яна 1  Яна 2
0    0      0        0        0        0  ...      0      0    0      0      0
1    3      1        0        0        0  ...      2      4    1      1      0
2    9      5        9        0        0  ...      3      4   14     13     17
3   15     12       16      100        0  ...     10      9   14     13     17
4   26     25       20        0       50  ...     25     26   33     33     34
5   33     35       32        0       21  ...     42     30   29     31     24
6   18     21       23        0       29  ...     18     26    8      9      7
7   50     56       55        0       50  ...     60     57   37     40     31
8   76     82       75        0      100  ...     85     83   71     73     66

[9 rows x 32 columns]

In [ ]:
df_target_audience_val.to_csv('Отчеты csv/df_target_audience_val.csv', index=False)
df_target_audience_val.to_csv(save_path + 'df_target_audience_val.csv', index=False)
df_target_audience_val

   Все  Алина  Алина 1  Алина 2  Алина 3  ...  Юля 4  Юля 5  Яна  Яна 1  Яна 2
0    3      0        0        0        0  ...      0      0    0      0      0
1   33      1        0        0        0  ...      1      1    1      1      0
2   95      9        5        0        0  ...      2      1   15     10      5
3  163     24        9        1        0  ...      6      2   15     10      5
4  288     49       11        0        7  ...     15      6   36     26     10
5  362     68       18        0        3  ...     25      7   31     24      7
6  196     40       13        0        4  ...     11      6    9      7      2
7  558    108       31        0        7  ...     36     13   40     31      9
8  846    157       42        0       14  ...     51     19   76     57     19

[9 rows x 32 columns]

In [ ]:
print(result_new[result_new.target_class == 0].shape[0])
print(result_new[result_new.target_class == 1].shape[0])
print(result_new[result_new.target_class == 2].shape[0])
print(result_new[result_new.target_class == 3].shape[0])
print(result_new[result_new.target_class == 4].shape[0])
print(result_new[result_new.target_class == 5].shape[0])
print(result_new[result_new.target_class == 6].shape[0])
print((result_new[(result_new.target_class == 5) | (result_new.target_class == 6)].shape[0]))
print((result_new[(result_new.target_class == 4) | (result_new.target_class == 5) | (result_new.target_class == 6)].shape[0]))

3
32
88
150
286
377
204
581
867

In [ ]:
filtered_result.shape

(1140, 17)

In [ ]:
filtered_result.head()

  country Сколько_вам_лет  ... utm_campaign utm_content
0  Другое         40 - 50  ...        2f_1t           0
1  Россия         23 - 30  ...     Камп 3_1           1
2  Россия         40 - 50  ...     intensiv          w1
3  Россия         30 - 40  ...            0           0
4  Другое         40 - 50  ...        2f_1t           0

[5 rows x 17 columns]

# **Шаг 3 - Информация по кластерам**

In [ ]:
xTrain01 = get01Data(filtered_result.values) # Создаем обучающую выборку по данным из базы
xTrain01 = addLabels(xTrain01)               # Добавляем метки кластера

In [ ]:
printCluster(6)

Размер кластера: 12
Город
Россия: 92%, 11 шт
Европа: 8%, 1 шт
Северная Америка: 0%, 0 шт
СНГ: 0%, 0 шт
Другое: 0%, 0 шт

Возраст
до 18 лет: 0%, 0 шт
18 - 23: 0%, 0 шт
23 - 30: 8%, 1 шт
30 - 40: 50%, 6 шт
40 - 50: 42%, 5 шт
50 - 60: 0%, 0 шт
60+: 0%, 0 шт

Сфера работы
IT сфера (разработчик, тестировщик, администратор и т.п.): 0%, 0 шт
Профессии связанные с числами (аналитик, бухгалтер, инженер и т.п.): 0%, 0 шт
Гуманитарий (общение с людьми, искусство, медицина и т.д.): 33%, 4 шт
Предприниматель, руководитель: 50%, 6 шт
Преподаватель, учитель: 17%, 2 шт
Школьник, студент: 0%, 0 шт
Пенсионер: 0%, 0 шт
Декрет: 0%, 0 шт

Доход
0 руб.: 0%, 0 шт
до 30 000 руб.: 0%, 0 шт
до 60 000 руб.: 0%, 0 шт
до 100 000 руб.: 25%, 3 шт
более 100 000 руб.: 75%, 9 шт

Обучение
Да, если я точно найду работу после обучения.: 0%, 0 шт
Да, если это поможет мне в реализации проекта.: 100%, 12 шт
Нет. Хочу получить только бесплатные материалы.: 0%, 0 шт

Время на обучение
до 5 часов в неделю: 0%, 0 шт
до 10 часов в неделю: 0%, 0 шт
более 10 часов в неделю: 100%, 12 шт